
.code-wrap {
  text-align: center;
  .tar {
    color: #409eff;
  }
  .error {
    margin: 10px 0;
  }
  .desc {
    width: 125px;
    height: 220px;
  }
  .qrcode {
    width: 128px;
    height: 128px;
    margin: 10px 0;
  }
}